html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* background: url(../../../assets/img/background.jpg); */
  /* background-color : #20e9e9; */
  
  font-family: "Roboto", sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

:root {
    --top-bar-height : 55px;
    --side-bar-width : 80px;
}
/* top bar */
.topbar {
    width :100%;
    height: var(--top-bar-height);
    background-color: rgb(53, 51, 51);
    position: fixed;
    overflow: hidden;
}

.topbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topbar a:hover {
  background-color: #ddd;
  color: black;
}

.topbar a.active {
  background-color: #00abc9;
  color: white;
}

/* ---------------------------------------------------------- */
/* side bar */
.sidebar {
    width: var(--side-bar-width);
    height: calc(100% - var(--top-bar-height));
    background-color: rgb(59, 52, 52);
    margin-top: var(--top-bar-height);
    position: fixed;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    padding-left: 20px;
    box-sizing: border-box;
    transition: 0.5s; /* .side-bar a:hover */
    transition-property: background; /* .side-bar a:hover */
    font-size: 20px;
  }
  
  .sidebar a:hover {
    background: rgb(88, 86, 86);
    color: rgb(0, 175, 245);
  }

  /* ---------------------------------------------------------- */
.content-box {
    width: calc(100% - var(--side-bar-width));
    height: calc(100% - var(--top-bar-height));
    margin-left: var(--side-bar-width);
    margin-top: var(--top-bar-height);
    background-color: rgb(255, 255, 255);
    position: fixed;
    overflow: scroll
}