<topbar></topbar>
<div ng-if='sidebar'>
    <sidebar></sidebar>
</div>
<div class="content-box">
    <div class="container mt-5">
        <div class="card mx-auto" style="width: 28rem;">
            <div class="card-body">
                <h5 class="card-title">Family</h5>
                <div class="container py-3 px-5">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" ng-model = "family" ng-value ="'Femtoclock2'" name="family" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            FemtoClock2
                        </label>
                    </div>
                </div>

                <h5 class="card-title">Product</h5>
                <div class="container py-2 px-5">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" ng-model = "product" ng-value ="'RC32504A-b'" name="product" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            RC32504A (b)
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" ng-model = "product" ng-value ="'RC32514A-b'" name="product" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            RC32514A (b)
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" ng-model = "product" ng-value ="'8P49N344-b'" name="product" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            8P49N344 (b)
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" ng-model = "product" ng-value ="'RC22504A-b'" name="product" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            RC22504A (b)
                        </label>
                    </div>

                </div>
                <div class="text-right">
                <a href="#/ricbox" class="btn btn-primary" ng-click="configSocket(family,product)">SUBMIT</a>
                <!-- <button type="button" class="btn btn-primary" onclick="configRicBox()">submit</button> -->

            </div>
            </div>
            
        </div>


        <!-- <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Default checked radio
            </label>
          </div> -->
    </div>
</div>