<topbar></topbar>
<sidebar></sidebar>
<style>
    li {
        cursor: pointer;
    }

    button {
        float: right;
        background-color: rgb(255, 255, 255);
        border-radius: 3px;
    }

    table{
       
        width:100%;
    }
    tr {
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        background-color: white;
        transition: 0.3s;
    }
    tr:hover {
        background-color: rgb(177, 177, 177);
    }
    td{
        padding:0px;
    }
    label{
        display:block;
        padding:0%;
    }

    input[type="checkbox"]{
        width: 30px; /*Desired width*/
        height: 25px; /*Desired height*/
        cursor: pointer;
        border: 1px solid black;
     
      }

    td.right-button {
        text-align: right;
        width: 2%;
        

    }

    td.right-menu {
        text-align: right;
        width: 13%;
    }
    select {
        width: 100%;
        height: 25px;
        margin: 0%;
        border-color: black;
    }

    .lock {
        background-color: orange;
    }

    .unlock {
        background-color: white;
    }
</style>
<div class="content-box">
    <div ng-if="socketCreated">
        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li ng-click="tabContent(key)" ng-repeat="(key,value) in ricboxData"><a>{{key}}</a></li>
            </ul>
            <div ng-if="subField">
                <!-- <h1>{{subFieldData}}</h1> -->
                <ul class="nav nav-tabs ">
                    <li ng-click="subTabContent(key)" ng-repeat="(key,value) in subFieldData"><a>{{key}}</a></li>
                </ul>
            </div>

            <div>
                <table cellpadding="0" cellspacing="0">
                    <div>
                        <tr class="table-row" ng-repeat="(key,value) in showData">
                            <td ng-init="data[key]['error'] = false;">{{key}}</td>
                            <!-- <td class="right"></td> -->

                            <td class="right-menu">

                                <div ng-if="data[key].type === 'checkbox'">
                                    <!-- ng-init = "data[key]['model'] = false" -->
                                    <input type="checkbox" ng-model="data[key]['model']">
                                </div>

                                <div ng-if="data[key].type === 'textbox'">
                                    <!-- ng-style="{'border-color' : vm.valueLength > 950 ? 'red':'black'}" -->
                                    <input ng-style="{'border-color' : data[key]['error'] == 'true' ? 'red':'black'}" type="text" ng-disabled = "data[key].disable.toLowerCase() == 'true'"  ng-model="data[key]['model']" placeholder="{{ data[key].model }}" required>
                                </div>

                                <div class="p-0 m-0" ng-if="data[key].type === 'dropdown'">
                                    <select  ng-model="data[key]['model']" ng-init ="data[key]['model'] = data[key].value.toString()">
                                        <option   ng-selected = "data[key]['model'] === x.toString()" ng-repeat="(x,y) in data[key].options" ng-value="x">{{y}}</option>
                                    </select>
                                </div>
                            </td>

                            <td class="right-button" ng-show="return_lock(key)">
                                <button class="lock" ng-disabled = "data[key].disable.toLowerCase() == 'true'" ng-click = "set_and_lock(key)" ><i  class="fas fa-lock lock"></i></button>
                                <!-- <button><i class="fas fa-unlock"></i></button> -->
                            </td>
                            <td class="right-button" ng-show="!return_lock(key)">
                                <button  class="unlock" ng-disabled = "data[key].disable.toLowerCase() == 'true'" ng-click = "set_and_lock(key)"><i  class="fas fa-unlock"></i></button>
                                <!-- <button><i class="fas fa-unlock"></i></button> -->
                            </td>
                        </tr>
                    </div>
                </table>
                <!-- <ul class="nav nav-tabs py-3 px-0 mx-0" ng-repeat="value in showData">
                    <li>{{value}}</li>
                    <div>
                        <button><i class="fas fa-lock"></i></button>
                    </div>
                </ul> -->
            </div>
        </div>
    </div>
</div>